<div class="row m-2 shadow-sm p-3 mb-5 bg-white rounded fixed">
        <div class="col-6">
            <div class="h3"> Zerrouki Sofiane</div>
        </div>

        <div class="col-3 px-4 say">
            <button class="btn ">Projects</button>                        
            <button class="btn ">Blog</button>                        
            <button class="btn search">Say Hello</button>                        
        </div>
    </div>
    
          <button class="btn btn-outline-secondary dropdown-toggle" 
                    type="button" data-toggle="dropdown" aria-haspopup="true" 
                    aria-expanded="false">Se connecter</button>
          <div class="dropdown-menu">
            <input type="button" class="btn search " value="Se connecter">
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Créer un compte </a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">votre Compte</a>
            <a class="dropdown-item" href="#">vos commande</a>
          </div>
